html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	height: 100%;
	width: 100%;
	font-family: 'josefin slab' serif; 
	color:#393B35;
	background: url('../img/background-1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	min-width: 1200px;
}

/* Color Palet 
#393B35 Black letters
*/


/*______________________________________________________________________________________________________________________________________

																
																FRONT PAGE

_______________________________________________________________________________________________________________________________________*/

#front-page {
	min-width: 1200px;
	width: 97.6%;
	margin:18% 0;
	font-size: 2em;
	font-style: italic;
	padding: 0.5em;
	line-height: 1.5em;
	font-weight: 300;
	box-shadow: -3px 0px 3px;
	background-color: white;

}

#front-page:hover {
	cursor: pointer;
}

#front-page h1 {
	text-align: center;
	width: 100%;
}

#front-page #writer{
	font-size: 0.7em;
	font-style: normal;
	padding-left: 5em;
}

/* _________________________________________________________________________________________________________________________________________

																	HEADER

____________________________________________________________________________________________________________________________________________*/

#quiz-page {
	display: none;
}

header {
	padding: 1em;
	box-shadow: 0px 0px 2px;
	background-color: rgba(229, 229, 229, 0.35)
}

.logo {
	float: left;
	margin-left: 1em;
}

.logo:hover {
	cursor: pointer;
}

header h1 {
	display: inline;
	font-size: 1.5em;
	margin:0 0 0 6%;
	line-height: 50px;
	font-weight: 600;
	font-style: italic;
}

/*_________________________________________________________________________________________________________________________________________

																   Quiz APP

__________________________________________________________________________________________________________________________________________*/


.background {
	padding:10% 0;
	width: 100%;
	margin-top: 3em;
	box-shadow: 0px 0px 2px;
	background: url('../img/background-2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#list, #list-result {
	margin:2em 25% 0 25%;
	list-style-type: circle;
	position: absolute;
}

.question {
	font-style: italic;
	font-size: 1.5em;
	font-weight: 600;
}

.answer {
	margin: 1em 1em 1em 2em;
	text-transform: capitalize;
	font-size: 1.4em;
	border-radius: 10px;
	padding-left: 0.5em;
}

#list .answer:hover {
	cursor: pointer;
}

.clicked {
	box-shadow: 1px 1px 1px;
}

.controls {
	position:absolute;
	padding: 4em;
	border:0;
	border-radius: 50%;	
}

.submit {
	height: 4.64em;
	width: 4.64em;
	margin:3.28em 0 0 40em;
	background-color: rgba(229, 229, 229, 0.4);
	text-align: center;
	text-transform: capitalize;
	font-family: 'josefin slab' serif; 
	font-weight: 600;
	font-size: 1.5em;	
	padding:0em; 
}

.submit:hover {
	cursor: pointer;
}

.fa-angle-right {
	color:#FFFFFF;
	margin: -0.15em -0.15em 0 0;
	font-size: 3.5em !important; 
}

/*_____________________________________________________________________________________________________________________________________


															RESULTS
______________________________________________________________________________________________________________________________________*/

#result {
	display: none;
	height: 50em;
	margin-top: 17.85em;
	box-shadow: 0px 0px 15px;
	background-color: rgba(19, 52, 83, 0.4);
}

#result h2 {
	position: absolute;
	font-size: 5em;	
	margin:0.5em 0.5em;
}

#result p {
	position: absolute;
	font-size: 4em;	
	margin:2em 1.5em;
}